@model OnlineLibrary.Models.Publisher

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Publisher</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>Publisher</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_contact_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_contact_no)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
